In [13]:
import pandas as pd 
from sklearn.impute import SimpleImputer
from catboost import CatBoostRegressor
pd.set_option("display.max_rows", 999)

In [8]:
df = pd.read_csv('../../data/Telecom_customer churn.csv')

In [9]:
df.head()

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,Customer_ID
0,23.9975,219.25,22.500,0.2475,0.00,0.0,0.0,0.0,0.0,-157.25,...,0.0,N,U,U,U,U,U,Y,361.0,1000001
1,57.4925,482.75,37.425,0.2475,22.75,9.1,9.1,0.0,0.0,532.25,...,0.0,Z,U,U,U,U,U,Y,240.0,1000002
2,16.9900,10.25,16.990,0.0000,0.00,0.0,0.0,0.0,0.0,-4.25,...,0.0,N,U,Y,U,U,U,Y,1504.0,1000003
3,38.0000,7.50,38.000,0.0000,0.00,0.0,0.0,0.0,0.0,-1.50,...,0.0,U,Y,U,U,U,U,Y,1812.0,1000004
4,55.2300,570.50,71.980,0.0000,0.00,0.0,0.0,0.0,0.0,38.50,...,0.0,I,U,U,U,U,U,Y,434.0,1000005

In [10]:
df_null = pd.DataFrame(df.isnull().sum()).reset_index()
df_null.columns = ['columns','value']
df_null['percentage'] = df_null['value']/df.shape[0] * 100

In [16]:
df_null[df_null['percentage']>0]

             columns  value  percentage
0           rev_Mean    357       0.357
1           mou_Mean    357       0.357
2        totmrc_Mean    357       0.357
3            da_Mean    357       0.357
4        ovrmou_Mean    357       0.357
5        ovrrev_Mean    357       0.357
6        vceovr_Mean    357       0.357
7        datovr_Mean    357       0.357
8          roam_Mean    357       0.357
9         change_mou    891       0.891
10        change_rev    891       0.891
67           avg6mou   2839       2.839
68           avg6qty   2839       2.839
69           avg6rev   2839       2.839
70  prizm_social_one   7388       7.388
71              area     40       0.040
72          dualband      1       0.001
73        refurb_new      1       0.001
74         hnd_price    847       0.847
75            phones      1       0.001
76            models      1       0.001
77        hnd_webcap  10189      10.189
78             truck   1732       1.732
79                rv   1732       1.732
80           ownrent  33706      33.706
81               lor  30190      30.190
82          dwlltype  31909      31.909
83           marital   1732       1.732
84            adults  23019      23.019
85          infobase  22079      22.079
86            income  25436      25.436
87          numbcars  49366      49.366
88          HHstatin  37923      37.923
89          dwllsize  38308      38.308
90          forgntvl   1732       1.732
91            ethnic   1732       1.732
92            kid0_2   1732       1.732
93            kid3_5   1732       1.732
94           kid6_10   1732       1.732
95          kid11_15   1732       1.732
96          kid16_17   1732       1.732
97          creditcd   1732       1.732
98           eqpdays      1       0.001

In [12]:
df['churn'].value_counts()

0    50438
1    49562
Name: churn, dtype: int64

# data imputation

In [ ]:
imp = SimpleImputer(missing_values=np.nan, strategy='median')
imp.fit(df['adults'].to_numpy().reshape(-1,1))